@use "functions.scss" as *;

.menu-item {
  color: var(--neutral-500);
  width: 100% !important;
  display: flex;
  align-items: center;
  padding: rem(16) rem(10);

  mat-icon {
    color: var(--neutral-500);
  }

  .item-label {
    padding-left: rem(10);
  }

  .arrow-icon-container {
    margin-left: auto;

    .arrow-icon {
      color: var(--neutral-800);
    }
  }
}

.selected-menu-item {
  border-left: rem(3) var(--primary-700) solid;
  color: var(--primary-700);
  background-image: linear-gradient(to right, var(--primary-100), var(--white));

  mat-icon {
    color: inherit;
  }
}

:host * {
  transition: all 500ms ease-in-out;
}
