<header class="header">
  <div class="header-container">
    <div class="left">
      <a routerLink="/dashboard" class="logo">
        <app-svg type="logo" />
      </a>

      <app-language-dropdown />
    </div>

    <div class="right">
      <app-search-bar />

      <ul class="nav-icons">
        <li>
          <mat-icon>sms</mat-icon>
        </li>

        <li>
          <mat-icon>notifications</mat-icon>
        </li>

        <li>
          <mat-icon>account_circle</mat-icon>
        </li>
      </ul>
    </div>
  </div>
</header>
