@use "functions.scss" as *;

.header {
  background-color: var(--white);
  box-shadow: var(--bS);

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(24) rem(25);

    @media (width <= rem(910)) {
      flex-direction: column;
      gap: 1rem;
    }

    .right,
    .nav-icons,
    .left {
      display: flex;
      align-items: center;
      gap: rem(20);
    }

    .right,
    .left {
      @media (width <= rem(910)) {
        width: 100%;
        justify-content: space-between;
      }
    }

    .right {
      @media (width <= rem(910)) {
        flex-direction: row-reverse;
      }

      @media (width <= rem(494)) {
        flex-direction: column;
      }
    }

    .nav-icons {
      li {
        mat-icon {
          color: var(--neutral-800);
        }

        border: 1px solid var(--neutral-200);
        width: rem(50);
        height: rem(50);
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (width <= rem(554)) {
          width: rem(40);
          height: rem(40);
        }
      }
    }

    .left {
      .logo {
        app-svg {
          width: 3rem;
          height: 3rem;
        }

        @media (width <= rem(494)) {
          display: none;
        }
      }
    }
  }
}
