.register-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;

  .register-card {
    padding-top: 3.5rem;
    padding-inline: 3rem;
    background-color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card-form {
      .form-title {
        text-align: center;
        color: var(--neutral-800);
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-size: clamp(
          1rem,
          0.8181818181818181rem + 0.7575757575757576vw,
          1.5rem
        );

        p {
          color: var(--neutral-500);
          font-size: 13px;
          margin-top: 8px;
          font-weight: 400;
        }
      }
    }

    @media (width <= 24rem) {
      padding-inline: 1.5rem;
    }
  }

  .register-bg {
    width: 100%;
    height: 100vh;

    img {
      height: 100%;
      object-fit: fill;
    }
  }

  @media (width <= 74rem) {
    grid-template-columns: 1fr 1fr;
  }

  @media (width <= 54rem) {
    grid-template-columns: 1fr;

    .register-bg {
      display: none;
    }
  }
}
