<div class="form-group">
  <mat-form-field>
    <label [for]="inputId()">{{ label() }}</label>
    <input
      matInput
      [name]="name()"
      [id]="inputId()"
      [placeholder]="placeholder()"
      [type]="isPasswordVisible() ? 'text' : type()"
    />

    @if (isPassword()) {
    <button type="button" mat-icon-button matSuffix (click)="togglePassword()">
      <mat-icon>
        {{ isPasswordVisible() ? "visibility" : "visibility_off" }}
      </mat-icon>
    </button>
    }
  </mat-form-field>
</div>
