<div class="table-card">
  <h2 class="dashboard-card-title">{{ title() }}</h2>

  <div class="table">
    <div class="table-header">
      @for (item of headers; track $index) {
      <span class="table-header-box">
        {{ item }}
        <mat-icon>unfold_more</mat-icon>
      </span>
      }
    </div>

    <div class="table-body">
      @for (item of data(); track $index) {
      <div class="table-body-row">
        <div class="port">
          @if (item.image) {
          <img [src]="item.image" [alt]="item.firstName" />
          }
        </div>

        <div class="total">
          {{ item.lastName }}
        </div>

        <div class="ratio">
          {{ item.maidenName }}
        </div>

        <div class="trend">
          {{ item.age }}
        </div>
      </div>
      }
    </div>
  </div>
</div>

