@use "functions.scss" as *;

.language-option,
.selected-language {
  display: flex;
  align-items: center;
  gap: rem(10);
}

.language-label {
  color: var(--neutral-800);
  font-weight: 700;
}

.language-icon {
  width: rem(28);
  height: rem(28);
  border-radius: 50%;
}

:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px;
}

:host ::ng-deep .mat-mdc-form-field-infix {
  padding-bottom: 0 !important;
}

mat-form-field {
  @media (width <= rem(910)) {
    width: rem(260);
  }
}

:host,
mat-form-field {
  @media (width <= rem(494)) {
    width: 100% !important;
  }
}
