<mat-form-field appearance="outline">
  <mat-select [(value)]="selected" (valueChange)="selectLanguage($event)">
    <mat-select-trigger>
      <div class="selected-language">
        <img class="language-icon" [src]="selected.icon" alt="" />
        <span class="language-label">{{ selected.label }}</span>
      </div>
    </mat-select-trigger>

    <mat-option *ngFor="let language of languageList" [value]="language">
      <div class="language-option">
        <img class="language-icon" [src]="language.icon" alt="" />
        <span class="language-label">{{ language.label }}</span>
      </div>
    </mat-option>
  </mat-select>
</mat-form-field>
