<section class="revenue-graph">
  <div class="revenue-graph-container">
    <div class="header">
      <h2 class="dashboard-card-title">{{ title() }}</h2>

      <mat-form-field>
        <mat-select [(value)]="selectedPeriod">
          <mat-select-trigger>
            {{ selectedPeriod }}
          </mat-select-trigger>

          @for (item of periods; track $index) {
          <mat-option [value]="item">{{ item }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="graph-container">
      <div echarts [options]="options"></div>
    </div>
  </div>
</section>
