<div class="vertical-cards">
  <h2 class="dashboard-card-title">{{ title() }}</h2>

  <div class="card-grid">
    @for (item of salesList; track item.id) {
    <div class="card">
      <h4 class="card-title">{{ item.title }}</h4>

      <div class="card-footer">
        <span class="amount">${{ item.amount }}</span>
        <span
          [class]="item.percentage > 50 ? 'green' : 'red'"
          class="percentage"
        >
          {{ item.percentage }}%
          <mat-icon [class]="item.percentage > 50 ? 'green' : 'red'">
            {{ item.icon }}
          </mat-icon>
        </span>
      </div>
    </div>
    }
  </div>
</div>
