@use "functions.scss" as *;

.form-group-checkbox {
  margin-bottom: 2rem;
  color: var(--neutral-500);
  display: flex;
  gap: rem(14);
  align-items: center;
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.6590909090909091rem + 0.3787878787878788vw, 1rem);

  input {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.register-button {
  width: 100%;
  margin-bottom: 2rem;
}

.register-description {
  text-align: center;
  color: var(--neutral-500);

  @media (width <= 24rem) {
    font-size: rem(14);
  }
}
