<app-auth-layout
formTitle="Welcome back"
formTitleDescription="Please enter your details to log in."
>
<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <app-form-group
    label="Email address"
    type="email"
    name="email"
    inputId="email"
    placeholder="Enter email address"
  />
  <app-form-group
    label="Password"
    type="password"
    name="password"
    inputId="password"
    placeholder="Enter Password"
    [isPasswordVisible]="isPasswordVisible()"
    [isPassword]="true"
    (togglePasswordEvent)="togglePassword()"
  />
  <a href="" class="form-group-question">Forgot password?</a>
  <button mat-flat-button class="login-button" type="submit" [disabled]="loginForm.invalid">Log In</button>
</form>
<p class="login-description">
  Don't have an account?
  <a routerLink="/register">
    <strong>Create Account</strong>
  </a>
</p>
</app-auth-layout>