@use "functions.scss" as *;

.login-button {
  width: 100%;
  margin-bottom: rem(32);
}

.login-description {
  text-align: center;
  color: var(--neutral-500);

  @media (width <= 24rem) {
    font-size: rem(14);
  }
}

.form-group-question {
  color: var(--neutral-500);
  margin-bottom: rem(32);
  font-style: italic;
  text-align: right;
  display: block;
}
