<div class="dashboard">
  <div class="dashboard-container">
    <div class="left">
      <div class="left-cards">
        <app-horizontal-container title="Sales Enquires" />
        <app-horizontal-container title="Quotation summary" />
        <app-tracking title="Container Tracking"/>
      </div>
    </div>

    <div class="right">
      <div class="right-cards">
        <app-vertical-container title="Revenue Summary" />
        <app-vertical-container title="Shipments (289)" />
      </div>
    </div>
  </div>
</div>
